{% extends "base_generic.html" %}
{% block content %}
<div class='auth-card login'>
    <h2>Login</h2>
    <form method="POST" action=''>
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="username">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
          </div>
        <button type="submit" class='btn btn-danger'>Login</button>
    </form>
</div>
{% endblock %}

